<div class="sign-up__fields row justify-content-md-center">
  <div class="col-sm-12 col-md-3">
    <label>Name[text* your-name class:form-control placeholder "Your name here"]</label>
  </div>
  <div class="col-sm-12 col-md-3">
    <label>Email[email* your-email class:form-control placeholder "Your email here"]</label>
  </div>
</div>
<div class="sign-up__fields row justify-content-md-center">
  <div class="col-sm-12 col-md-6">
    <label>Email[textarea* your-email class:form-control placeholder "Your email here"]</label>
    <div class="text-center">
      [submit class:btn class:btn-hollow "Send"]
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-sm-12 col-md-6">
    [response]
  </div>
</div>