// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

input {
  &[type="text"],
  &[type="email"] {
    border-radius: 3px;
  }
}

div.wpcf7-response-output {
  margin-left: 0;
  margin-right: 0;
  margin-top: 16px;
}