// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Fonts

$font-family-sans-serif: 'PT Sans', sans-serif;
$headings-font-weight: 700;


// Colors

$primary: #4285F4;
$secondary: #F3A94A;