.site-footer {

  padding: 20px 0 4px;

  background: rgb(106, 106, 106);


  ul {}

  li {
    margin-bottom: 16px;
    &:not(:last-of-type) {
      margin-right: 12px;
      @include media-breakpoint-up(md) {
        margin-right: 38px;
      }
    }
  }

  a,p {
    color: $white; 
  }

  p {
    @include media-breakpoint-up(md) {
      text-align: right;
    }
  }
}