@import '../common/_variables';

$nav-padding-top: 20px;
$nav-padding-bottom: 20px;
$top-nav-height: ( $nav-padding-top + 90px + $nav-padding-bottom );
$side-margin: 20px;

$black:#141414;
$grey: #ECECEC;

$font-size: 1.2em;

header{
    position: fixed;
    top:0;
}

.top-nav{
    display:grid;
    grid-template-columns: $side-margin 20vw 1fr $side-margin;
    grid-template-rows: 1fr;
    height:$top-nav-height;
}

.site-logo-container{
    grid-column: 2/3;
    grid-row: 1/2;
}

.site-logo{
    height: $top-nav-height;
    padding: $nav-padding-top 0;
}

.top-nav-links{
    grid-column: 3/4;
    grid-row: 1/2;

    display:flex;
    align-items:center;
    justify-content: flex-end;
}

.bottom-nav{
    display:grid;
    grid-template-columns: $side-margin 1fr 1fr $side-margin;
    grid-template-rows: 1fr;

    background-color: $grey;
    color: $black;
}

.bottom-nav-links-left{
    grid-row: 1/2;
    grid-column: 2/3;
    
    padding: $nav-padding-bottom 0;

    display:flex;
    align-items: center;
    justify-content: flex-start;
}

.bottom-nav-links-right{
    grid-row: 1/2;
    grid-column: 3/4;
    
    padding: $nav-padding-bottom 0;

    display:flex;
    align-items: center;
    justify-content: flex-end;
}

.bottom-nav-links > btn{
    padding:1em;
}

#menu-navbar-leftside .menu-item{
    margin-right: 1em;
}

#menu-navbar-right-side .menu-item{
    margin-left: 1em;
}

.btn{
    font-family: $font-family-sans-serif;
    font-size: $font-size;
}

.btn a:hover{
    text-decoration: none;
    font-family: $font-family-sans-serif;
    border-bottom: $primary solid 1px;
}

.btn-nav{
    background-color: $primary;
}

.btn-nav a{
    color: white !important;
}

.btn-hollow{
    background-color: $grey;
    border: $primary solid 2px;
    padding-left:30px;
    padding-right:30px;
    
}

.btn-hollow:hover{
    background-color: $primary;
}

.btn-hollow:hover > a{
    color: white;
}

.btn-full{
    background-color: $secondary;
    position: relative;
    margin-top:-20px;
    margin-bottom: -20px;
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 25px;
    padding-left:25px;
    padding-right:25px;

    border-radius: 0;

    font-weight: bold;
}

.btn-full:hover > a{
    border-bottom: 0;
    color:white;
}

.search-form {
    margin-left: 1em;
}

.menu-item > a{
    color: $black;
}

.search-submit{
    display:none !important;
}